.test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.prob1-select {
  width: 100%;
}
.header {
  font-size: 22;
  font-weight: 600;
}
button {
  width: 100px;
  height: 50%;
}
textarea {
  width: 100%;
}
select {
  width: 100%;
}
input {
  width: 100%;
}
.todo-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.error {
  color: rgb(239, 25, 25);
}
.delete-task {
  background-color: rgb(224, 102, 102);
}
